html { 
    background: url(assets/tyler-edlin-fantasy-landscape1.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

#title-background {
    margin: auto;
    background: rgb(240, 223, 148) url(assets/clipart-border-rustic-16.png);
    background-size: cover;
    height: 160px;
    width: 400px;
    padding: 10px;
}

#title {
    display: block;
    margin-top: 5%;
    margin-left: 3.5%;
    width: 380px;
    height: 120px;
}

#center-field {
    border-radius: 25px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(rgba(240, 223, 148, 1), rgba(240, 223, 148, .85));
    height: auto;
    width: 550px;
    padding: 20px;
    text-align: center;
}

form {
    text-align: center;
}

input[type=text] {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 12px;
    background-color: rgb(240, 223, 148);
    text-align: center;
    font-size: x-large;
}

select {
    background-color: rgb(240, 223, 148);
    font-size: large;
}

label {
    font-size: x-large;
}

input[type=submit] {
    background-color: rgb(197, 191, 122);
    font-size: x-large;
}

input[type=number] {
    background-color: rgb(240, 223, 148);
    font-size: large;
    padding: 12px;
}

button {
    background-color: rgb(197, 191, 122);
    font-size: x-large;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

ul {
    list-style-type: none;
}

p {
    font-weight: bold;
}